{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
	cowboy,
	gproc,
    gdminus,
    bbmustache,
    prometheus
    ]
}.

{relx, [{release, {gremlin, "1.0.0"},
         [gremlin,
          adventurine,
          sasl,
		  mnesia]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},
        {overlay, [{copy, "apps/gremlin/priv/*.pem", "certificate/"}]}
]}.
{plugins, [
  {rebar3_gpb_plugin, "2.13.2"},
  erlfmt
]}.

{erlfmt, [
    {files, "apps/*/{src,include,test}/*/*.{erl,esh}"},
    {print_width, 79}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
